{{ partial "header.html" . }}

<!-- Main Section Layout -->

<!-- Hero image -->
<div id="main-hero" class="hero-body blog-hero">
	<div class="container has-text-centered">
		<h1 class="title flex-title main-title text-bold is-2">
			<span class="is-hidden-mobile is-disabled"></span>
			<span class="subpage-title">{{ .Title }}</span>
			<span class="is-hidden-mobile is-disabled"></span>
		</h1>
	</div>
</div>
<!-- /Hero image -->
</div>
<!-- /Hero and nav -->

<!-- Post section -->
<section class="section blog-section section-light-grey">
	<div class="container">
		<div class="columns">
			<div class="column is-8 is-offset-2">
				<div class="flex-card is-full-post light-bordered">
					{{ range .Data.Pages }}
					<div class="post-meta content">
						<div class="title-block">
							<h4>{{ .Date.Format "Jan 2, 2006" }}</h4>
							{{ range .Params.tags }}
							<a href="/tags/{{ . | urlize }}">{{ . }}</a>
							{{ end }}
						</div>
					</div>
					{{ end }}
				</div>
			</div>
		</div>
</section>

{{ partial "footer.html" . }}