{{ partial "header.html" . }}

<!-- Hero image -->
<div id="main-hero" class="hero-body blog-hero">
        <div class="container has-text-centered">
            <h1 class="title flex-title main-title text-bold is-2">
                {{ if .Prev }}
                <a style="color:white" href="{{ .Prev.URL }}"><span class="material-icons is-hidden-mobile" data-toggle="tooltip" data-placement="right" data-title="{{ .Prev.Title }}">keyboard_arrow_left</span></a>
                {{ else }}
                <span class="material-icons is-hidden-mobile is-disabled" data-toggle="tooltip" data-placement="right" data-title="上一篇">keyboard_arrow_left</span>
                {{ end }}
                <span class="subpage-title">{{ .Title }}</span>
                {{ if .Next }}
                <a style="color:white" href="{{ .Next.URL }}"><span class="material-icons is-hidden-mobile" data-toggle="tooltip" data-placement="left" data-title="{{ .Next.Title }}">keyboard_arrow_right</span></a>
                {{ else }}
                <span class="material-icons is-hidden-mobile is-disabled" data-toggle="tooltip" data-placement="left" data-title="下一篇">keyboard_arrow_right</span>
                {{ end }}
            </h1>
        </div>
    </div>
    <!-- /Hero image -->
</div>
<!-- /Hero and nav -->

<!-- Post section -->
<section class="section blog-section section-light-grey">
    <div class="container">
        <div class="columns">
            <div class="column is-10 is-offset-0">
                <!-- Post -->
                <div class="flex-card is-full-post light-bordered">
                    <!-- Post meta -->
                    <div class="post-meta content">
                        <!-- title -->
                        <div class="title-block">
                            <h2>{{ .Description }}</h2>
                            <h4>{{ .Date.Format "2006年1月2日" }}</h4>
                            <div><span>作者</span> <a class="author-name"><b>{{ .Params.author }}</b></a></div>
                        </div>
                    </div>

                    <!-- Post body -->
                    <div class="post-body content">
                        {{ .Content }}

                        <!-- Share post -->
                        <div class="share-post">
                            <div class="share-text">
                                Share:
                            </div>
                            <!-- Sharing icons -->
                            <div class="sharing-options">
                                <i class="fa fa-envelope"></i>
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-linkedin"></i>
                                <i class="fa fa-google-plus"></i>
                                <i class="fa fa-reddit"></i>
                                <i class="fa fa-tumblr"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Post -->
                {{ partial "disqus.html" . }}

            </div>
            <div class="column">
                <div class="flex-card light-bordered">
                    <div class="card-header">TOC</div>
                    <div class="card-panel">
                        <div class="recent-posts">
                            <div class="recent-post">
                                <div class="post-title">
                                    {{ .TableOfContents }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Post section -->

{{ partial "footer.html" . }}